.tag {
  padding: 2px 6px !important;
  white-space: nowrap !important;
  cursor: pointer;
  display: inline-block;
  user-select: none;
  font-size: 12px;
  line-height: initial;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.tag i {
  font-size: 10px !important;
}

.tag img {
  height: 10px;
  margin-bottom: 3px;
}
