@import url('https://mshaugh.github.io/nerdfont-webfonts/build/firacode-nerd-font.css');

.tag {
  padding: 2px 8px !important;
  border-radius: 12px;
  white-space: nowrap !important;
  cursor: pointer;
  display: inline-block;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.tag .icon {
  font-family: 'FiraCode Nerd Font';
}
