@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');

*:focus {
  outline: none !important;
}

input {
  transition: all 200ms ease-in-out;
}

input:not(:empty) {
  border-color: white !important;
  color: white !important;
}

textarea:focus {
  outline-color: white !important;
}

.profile {
  background: url('https://images.unsplash.com/photo-1591291413979-ec06c29545a1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.projects {
  background: url('https://images.unsplash.com/photo-1516259762381-22954d7d3ad2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1666&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact {
  background: url('https://images.unsplash.com/photo-1512758017271-d7b84c2113f1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-appear,
.page-enter {
  opacity: 0;
  z-index: 1;
}

.page-appear-active,
.page-enter.page-enter-active {
  opacity: 1;
  transition: opacity 200ms linear;
}

.page-exit {
  opacity: 1;
}

.page-exit.page-exit-active {
  opacity: 0;
  transition: opacity 200ms linear;
}

.black-fades {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#00000000, #000000);
  }
}

.fader-fadein {
  animation: fadeout 500ms forwards;
}

.fader-fadeout {
  animation: fadeout 500ms forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
