div.profile-view {
  overflow: hidden;
}

div.navigation-link {
  color: inherit;
  filter: grayscale(1) opacity(0.5);
}

.active .navigation-link {
  filter: grayscale(0) opacity(1);
}

.made-with img {
  width: auto;
  height: 12px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
