div.profile-view {
  overflow: hidden;
}

div.navigation-link {
  color: inherit;
  opacity: 0.5;
  filter: grayscale(1);
}

div.navigation-link:hover {
  opacity: 0.75;
}

.active .navigation-link:hover {
  opacity: 1;
}

.active .navigation-link {
  opacity: 1;
  filter: grayscale(0);
}

.made-with img {
  width: auto;
  height: 12px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
